Repository thomato/astronauth-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: ktlint-check, detekt, gradle-test

.pre-commit-config.yaml:

repos:
  # Kotlin linting and formatting
  - repo: local
    hooks:
      # KtLint formatting check
      - id: ktlint-check
        name: ktlint check
        entry: ./gradlew ktlintCheck
        language: system
        files: \.kt$
        pass_filenames: false

      # Detekt linting
      - id: detekt
        name: detekt
        entry: ./gradlew detekt
        language: system
        files: \.kt$
        pass_filenames: false

      # Run tests
      - id: gradle-test
        name: gradle test
        entry: ./gradlew test
        language: system
        files: \.(kt|kts|java|properties|yaml|yml)$
        pass_filenames: false

📝 Add pre-commit and Docker setup instructions
  README.md
Due: none

docs: add pre-commit and Docker setup instructions
  README.md
Due: none

feat(registration): add user persistence
  src/main/kotlin/dev/thomato/auth/user/User.kt
  src/main/kotlin/dev/thomato/auth/user/UserRepository.kt
  src/main/kotlin/dev/thomato/auth/user/registration/UserRegistrationController.kt
Due: ktlint-check, detekt, gradle-test

feat(registration): introduce draft user registration endpoint
  src/main/kotlin/dev/thomato/auth/user/registration/RegisterUserInput.kt
  src/main/kotlin/dev/thomato/auth/user/registration/UserRegistrationController.kt
  src/main/resources/graphql/schema.graphqls
Due: ktlint-check, detekt, gradle-test

feat(db): add users table for account management
  src/main/resources/db/migration/V1__Create_user_table.sql
Due: none

chore(docker): map Postgres port in compose.yaml
  compose.yaml
Due: gradle-test

chore: add MIT license
  LICENSE
Due: none

chore: enforce conventional commit messages
  .pre-commit-config.yaml
  README.md
Due: gradle-test

fix(registration): require password confirmation to match
  src/main/kotlin/dev/thomato/auth/user/registration/UserRegistrationController.kt
Due: ktlint-check, detekt, gradle-test

feat(registration): add GraphQL user registration mutation
  src/main/kotlin/dev/thomato/auth/user/User.kt
  src/main/kotlin/dev/thomato/auth/user/UserRepository.kt
  src/main/kotlin/dev/thomato/auth/user/registration/RegisterUserInput.kt
  src/main/kotlin/dev/thomato/auth/user/registration/UserRegistrationController.kt
  src/main/resources/db/migration/V1__Create_user_table.sql
  src/main/resources/graphql/schema.graphqls
  src/test/kotlin/dev/thomato/auth/GraphQLIntegrationTests.kt
Due: ktlint-check, detekt, gradle-test

docs(adr): record architecture and authorization server choices
  docs/adr/0001-vertical-slices-ddd-hexagonal.md
  docs/adr/0002-spring-authorization-server.md
Due: none

build(deps): upgrade Testcontainers to 1.21.4
  build.gradle.kts
  gradle/libs.versions.toml
Due: gradle-test

docs: define account language and registration decisions
  CONTEXT.md
  docs/adr/0001-vertical-slices-ddd-hexagonal.md
  docs/adr/0003-no-account-existence-leaks.md
  docs/adr/0004-react-spa-served-by-spring.md
  docs/adr/0005-blocking-jdbc-with-virtual-threads.md
  docs/adr/0006-email-verification-proves-the-credential.md
Due: none

build: switch to blocking JDBC with virtual threads, drop R2DBC, JPA and WAR
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/dev/thomato/auth/ServletInitializer.kt
  src/main/kotlin/dev/thomato/auth/user/UserRepository.kt
  src/main/kotlin/dev/thomato/auth/user/registration/UserRegistrationController.kt
  src/main/resources/application.properties
  src/test/kotlin/dev/thomato/auth/GraphQLIntegrationTests.kt
Due: ktlint-check, detekt, gradle-test

build: upgrade to Java 25 and Kotlin 2.4
  build.gradle.kts
  gradle/libs.versions.toml
  settings.gradle.kts
  src/main/kotlin/dev/thomato/auth/WebSecurityConfiguration.kt
  src/test/kotlin/dev/thomato/auth/GraphQLEdgeCaseTests.kt
  src/test/kotlin/dev/thomato/auth/GraphQLTests.kt
  src/test/kotlin/dev/thomato/auth/TestcontainersConfiguration.kt
Due: ktlint-check, detekt, gradle-test

build(deps): upgrade to Spring Boot 4.1
  build.gradle.kts
  gradle/libs.versions.toml
  src/main/kotlin/dev/thomato/auth/user/registration/UserRegistrationController.kt
  src/test/kotlin/dev/thomato/auth/GraphQLEdgeCaseTests.kt
  src/test/kotlin/dev/thomato/auth/GraphQLIntegrationTests.kt
  src/test/kotlin/dev/thomato/auth/GraphQLTests.kt
  src/test/kotlin/dev/thomato/auth/TestcontainersConfiguration.kt
Due: ktlint-check, detekt, gradle-test

build: upgrade Gradle wrapper to 9.7.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Due: gradle-test

feat(registration): accept Registration requests and send a verification link
  build.gradle.kts
  compose.yaml
  gradle/libs.versions.toml
  src/main/kotlin/dev/thomato/auth/account/AccountConfiguration.kt
  src/main/kotlin/dev/thomato/auth/account/domain/Account.kt
  src/main/kotlin/dev/thomato/auth/account/domain/AccountId.kt
  src/main/kotlin/dev/thomato/auth/account/domain/Accounts.kt
  src/main/kotlin/dev/thomato/auth/account/domain/EmailAddress.kt
  src/main/kotlin/dev/thomato/auth/account/domain/EmailSender.kt
  src/main/kotlin/dev/thomato/auth/account/domain/Password.kt
  src/main/kotlin/dev/thomato/auth/account/domain/PasswordCredential.kt
  src/main/kotlin/dev/thomato/auth/account/domain/PasswordHash.kt
  src/main/kotlin/dev/thomato/auth/account/domain/PasswordHasher.kt
  src/main/kotlin/dev/thomato/auth/account/domain/RegistrationRequest.kt
  src/main/kotlin/dev/thomato/auth/account/domain/RegistrationRequestQueue.kt
  src/main/kotlin/dev/thomato/auth/account/domain/VerificationToken.kt
  src/main/kotlin/dev/thomato/auth/account/email/SmtpEmailSender.kt
  src/main/kotlin/dev/thomato/auth/account/persistence/AccountRow.kt
  src/main/kotlin/dev/thomato/auth/account/persistence/JdbcAccounts.kt
  src/main/kotlin/dev/thomato/auth/account/queue/ExecutorRegistrationRequestQueue.kt
  src/main/kotlin/dev/thomato/auth/account/registration/AcceptRegistrationRequest.kt
  src/main/kotlin/dev/thomato/auth/account/registration/Register.kt
  src/main/kotlin/dev/thomato/auth/account/registration/RegistrationController.kt
  src/main/kotlin/dev/thomato/auth/account/security/SpringPasswordHasher.kt
  src/main/kotlin/dev/thomato/auth/user/User.kt
  src/main/kotlin/dev/thomato/auth/user/UserRepository.kt
  src/main/kotlin/dev/thomato/auth/user/registration/RegisterUserInput.kt
  src/main/kotlin/dev/thomato/auth/user/registration/UserRegistrationController.kt
  src/main/resources/application.properties
  src/main/resources/db/migration/V1__Create_accounts_table.sql
  src/main/resources/db/migration/V1__Create_user_table.sql
  src/main/resources/graphql/schema.graphqls
  src/test/kotlin/dev/thomato/auth/GraphQLIntegrationTests.kt
  src/test/kotlin/dev/thomato/auth/account/RecordingEmailSender.kt
  src/test/kotlin/dev/thomato/auth/account/RegistrationTests.kt
Due: ktlint-check, detekt, gradle-test

ci: replace workflows with one CI pipeline on Java 25
  .github/workflows/build-test.yml
  .github/workflows/ci.yml
  .github/workflows/code-quality.yml
  .github/workflows/pr-title.yml
Due: gradle-test

build: run Gradle on JDK 21 while building for Java 25
  .github/workflows/ci.yml
  gradle/gradle-daemon-jvm.properties
Due: gradle-test

refactor(account): organise the account context by layer
  docs/adr/0001-layered-ddd-hexagonal.md
  docs/adr/0001-vertical-slices-ddd-hexagonal.md
  src/main/kotlin/dev/thomato/auth/account/api/graphql/RegistrationController.kt
  src/main/kotlin/dev/thomato/auth/account/application/EmailSender.kt
  src/main/kotlin/dev/thomato/auth/account/application/PasswordHasher.kt
  src/main/kotlin/dev/thomato/auth/account/application/VerificationTokenGenerator.kt
  src/main/kotlin/dev/thomato/auth/account/application/registration/AcceptRegistrationRequest.kt
  src/main/kotlin/dev/thomato/auth/account/application/registration/Register.kt
  src/main/kotlin/dev/thomato/auth/account/application/registration/RegistrationRequestQueue.kt
  src/main/kotlin/dev/thomato/auth/account/domain/PasswordHasher.kt
  src/main/kotlin/dev/thomato/auth/account/domain/VerificationToken.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/AccountConfiguration.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/email/SmtpEmailSender.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/persistence/AccountRow.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/persistence/JdbcAccounts.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/queue/ExecutorRegistrationRequestQueue.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/security/SpringPasswordHasher.kt
  src/test/kotlin/dev/thomato/auth/account/RecordingEmailSender.kt
Due: ktlint-check, detekt, gradle-test

test(architecture): enforce the layer rules with ArchUnit
  .editorconfig
  gradle/libs.versions.toml
  src/test/kotlin/dev/thomato/auth/account/ArchitectureTests.kt
Due: ktlint-check, detekt, gradle-test

docs: define Verification link and record link and email rate rules
  CONTEXT.md
  docs/adr/0003-no-account-existence-leaks.md
  docs/adr/0006-email-verification-proves-the-credential.md
Due: none

ci: lint and test the frontend
  .github/workflows/ci.yml
Due: gradle-test

docs: define Sign-in language and record its two decisions
  CONTEXT.md
  docs/adr/0007-sign-in-is-a-graphql-mutation.md
  docs/adr/0008-sign-in-is-throttled-per-address-not-locked-per-account.md
Due: none

feat(account): sign in and sign out with a Session
  README.md
  build.gradle.kts
  frontend/e2e/registration.spec.ts
  frontend/src/App.tsx
  frontend/src/copy/en.ts
  frontend/src/graphql/operations.ts
  frontend/src/pages/AccountPage.test.tsx
  frontend/src/pages/AccountPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/SignInPage.test.tsx
  frontend/src/pages/SignInPage.tsx
  frontend/src/pages/VerifyEmailPage.test.tsx
  frontend/src/pages/VerifyEmailPage.tsx
  frontend/src/test/render.tsx
  gradle/libs.versions.toml
  src/main/kotlin/dev/thomato/auth/WebSecurityConfiguration.kt
  src/main/kotlin/dev/thomato/auth/account/api/graphql/SavedRequests.kt
  src/main/kotlin/dev/thomato/auth/account/api/graphql/SignInController.kt
  src/main/kotlin/dev/thomato/auth/account/api/graphql/VerificationController.kt
  src/main/kotlin/dev/thomato/auth/account/application/Sessions.kt
  src/main/kotlin/dev/thomato/auth/account/application/signin/LookUpSignedInAccount.kt
  src/main/kotlin/dev/thomato/auth/account/application/signin/SignIn.kt
  src/main/kotlin/dev/thomato/auth/account/application/signin/SignOut.kt
  src/main/kotlin/dev/thomato/auth/account/application/verification/CompleteEmailVerification.kt
  src/main/kotlin/dev/thomato/auth/account/domain/Account.kt
  src/main/kotlin/dev/thomato/auth/account/domain/VerificationPolicy.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/AccountConfiguration.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/LimitProperties.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/SignInConfiguration.kt
  src/main/kotlin/dev/thomato/auth/account/infrastructure/security/SpringSessions.kt
  src/main/kotlin/dev/thomato/auth/web/RequestContextPropagation.kt
  src/main/kotlin/dev/thomato/auth/web/SpaController.kt
  src/main/resources/application.properties
  src/main/resources/graphql/schema.graphqls
  src/test/kotlin/dev/thomato/auth/account/Browser.kt
  src/test/kotlin/dev/thomato/auth/account/GraphQlOperations.kt
  src/test/kotlin/dev/thomato/auth/account/SignInTests.kt
  src/test/kotlin/dev/thomato/auth/account/domain/SignInRulesTests.kt
Due: ktlint-check, detekt, gradle-test

test(account): tick the test clock in microseconds
  src/test/kotlin/dev/thomato/auth/account/TestClock.kt
Due: ktlint-check, detekt, gradle-test
